body {
    background-color: #BBC5E8;
}


.sheet {
    width: 300px;
    height: 500px;
    margin: 10% auto;
    background-color: #224863;
    border-radius: 15px;
    position: relative;
  
}

.main { 
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

p {
    color: #F3EADC;
    font-size: 1.3em;
    font-family: 'Comfortaa', cursive;
}

.fh {
    text-align: center;
    line-height: 1.3em;
}

.hide {
    background-color: #3c90aa;
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    bottom: 0;
    border-radius: 15px;
    transition: height ease-out 1.2s;
}

.sheet:hover .hide {
    height: 35%;
}


